<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <title>Browserslist-GA</title>

    <% if Rails.env.production? %>
      <script src="https://cdn.ravenjs.com/3.18.1/raven.min.js" crossorigin="anonymous"></script>
      <script>Raven.config('https://c8484e8132984513be1f3e89969d98dc@sentry.io/227374').install()</script>
    <% end %>

    <%= javascript_pack_tag 'app' %>
    <%= stylesheet_pack_tag 'app' %>
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
